.score-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.player-name {
    padding: 0.5rem;
    width: 100%;
}
.player-name p {
    margin: 0;    
    font-weight: bold;
    font-size: 1.5rem;
}

.state-container {
    display: flex;
    flex-direction: column;    
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #1a1a1a;
    background-color: #242424;
    border-radius: 0.5rem;
}

.state {
    width: 100%;
}

.state p {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.progress-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.progress {
    width: 100%;
}

.progress p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.progress progress {
    width: 100%;
    height: 2rem;
}


.button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
    }
}

.button svg {
    width: 24px;
    height: 24px;    
}
