.score-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-bottom: 0.5rem;
}

.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.player-name {
    padding: 0.5rem;
    border-radius: 999px;
    background-color: var(--player-color-active);
    color: var(--player-text-color);
}

.player-name p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.state-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #1a1a1a;
    background-color: #242424;
    border-radius: 0.5rem;
}

.state {
    width: 100%;
}

.state p {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.progress-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.progress {
    width: 100%;
}

.progress p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.progress progress {
    width: 100%;
    height: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--player-color-hover);
    accent-color: var(--player-color);

    /* Resetear estilos nativos (IMPORTANTE para Chromium) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

progress::-webkit-progress-bar,
progress::-moz-progress-bakr {
    background-color: var(--player-color) !important;
}

progress::-webkit-progress-value,
progress::-moz-progress-value {
    background-color: var(--player-color) !important;
}