.tools {
    width: 100%;
  }
  
  .tools-bar {
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    display: grid;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2rem;
    background-color: #1a1a1a;
  }
  
  .tools-bar button {
    border-radius: calc(.5rem -2px);
  }
  
  .tools-config {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #444;
    border-radius: 0.2rem;
    padding: 1rem;
  }
  
  .tools-player-name {
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
  }