#root {
  min-height: 100vh;
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 0%;
  padding: 1.5rem;
  gap: 1.5rem;
}

.main-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

.layout-panel {
  width: 100%;
  display: grid;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    "players players webcam";

  @media screen and (max-width: 768px) {
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "webcam"
      "players";
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  border-radius: 10px;
  border: 1px solid #444;
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #888;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}


.players,
.webcam {
  border: 1px solid #444;
  padding: 1rem;
  border-radius: 0.5rem;
}

.webcam {
  grid-area: webcam;
}

.title {
  grid-area: title;
}

.players {
  grid-area: players;
  padding: 1.5rem;
}

.players-container {
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  padding: 1rem;

  display: grid;

  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;

}

.player {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1rem;
}

.player-text {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
}

.player-background {
  position: absolute;
  inset: 0;
  /* background-color: #1a1a1a #00FF00; */
}

.avatar-display {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.avatar img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tools {
  width: 100%;
}

.tools-bar {
  width: 100%;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  display: grid;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2rem;
  background-color: #1a1a1a;
}

.tools-bar button {
  border-radius: calc(.5rem -2px);
}

.tools-config {
  margin-top: 1rem;
}



button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

button svg {
  width: 24px;
  height: 24px;
}

button:hover {
  background-color: #646cffaa;
}

button.active {
  background-color: #646cffaa;
}

.player:hover{
  box-shadow: 0 0 0 0.25rem #646cff55;
}

.player.active {
  box-shadow: 0 0 0 0.25rem #646cffaa;
}


.switch-button{
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  border-radius: 99rem;
  border: 0.05rem solid #444;
  padding: 0;
  transition: all 0.3s ease-out allow-discrete;

}
.switch-button[aria-checked="true"] {
  background-color: #646cffaa;
  color: #fff;

}

.switch-button[aria-checked="false"] {
  background-color: #1a1a1a;
  color: #fff;
}

.switch-button-icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 99rem;
  background-color: #fff;
  color: #fff;
  transition: all 0.3s ease-out allow-discrete;
}

.switch-button[aria-checked="true"] .switch-button-icon {
  transform: translateX(1.25rem);
  background-color: #fff;
  color: #fff;
}
